## Проверка данных Цифромеда

In [1]:
import pandas as pd
import numpy as np
import os
import random

# игнорирование предупреждения о формате при импорте из excel
import warnings

warnings.simplefilter("ignore")

In [62]:
# пути и списки файлов
# файлы берём непосредственно из хранилища нового бота посещений
e_path = "C:/work/new_bot/new/e"
s_path = "C:/work/new_bot/new/s"
dm_path = "C:/work/new_bot/new/dm"
e_file_list = os.listdir(e_path)
s_file_list = os.listdir(s_path)
dm_file_list = os.listdir(dm_path + "/" + max(os.listdir(dm_path)))

In [63]:
def val_se(file_list, path):
    """валидация файлов ошибок и успехов"""
    for file_name in file_list:
        print(file_name)
        df_tmp = pd.read_csv(path + "/" + file_name, sep=";")
        print(f"всего строк: {df_tmp.shape[0]}")
        for column in df_tmp.columns:
            if df_tmp[column].isnull().sum() != 0:
                print(
                    f"\t- столбец {column}:\tпустых значений {df_tmp[column].isnull().sum()} ({round(df_tmp[column].isnull().sum()*100/df_tmp.shape[0], 2)} %)"
                )


def val_dm(dm_file_list, dm_path):
    """валидация файлов витрин"""
    dm_path = dm_path + "/" + max(os.listdir(dm_path))
    for file_name in dm_file_list:
        print(file_name)
        df_tmp = pd.read_excel(dm_path, sheet_name="Сессии по датам")
        print(f"всего строк: {df_tmp.shape[0]}")
        for column in df_tmp.columns:
            if df_tmp[column].isnull().sum() != 0:
                print(
                    f"\t- столбец {column}:\tпустых значений {df_tmp[column].isnull().sum()} ({round(df_tmp[column].isnull().sum()*100/df_tmp.shape[0], 2)}"
                )

In [58]:
val_se(s_file_list, s_path)

И38_успешные_сессии_20231101.csv
всего сток: 130303
	- столбец sp_oid:	пустых значений 2075 (1.59 %)
И38_успешные_сессии_20231102.csv
всего сток: 126618
	- столбец sp_oid:	пустых значений 1999 (1.58 %)
И38_успешные_сессии_20231103.csv
всего сток: 105478
	- столбец sp_oid:	пустых значений 1644 (1.56 %)
И38_успешные_сессии_20231104.csv
всего сток: 42581
	- столбец sp_oid:	пустых значений 932 (2.19 %)
И38_успешные_сессии_20231105.csv
всего сток: 45222
	- столбец sp_oid:	пустых значений 1024 (2.26 %)
И38_успешные_сессии_20231106.csv
всего сток: 93685
	- столбец sp_oid:	пустых значений 1662 (1.77 %)
И38_успешные_сессии_20231107.csv
всего сток: 175113
	- столбец sp_oid:	пустых значений 2497 (1.43 %)
И38_успешные_сессии_20231108.csv
всего сток: 148953
	- столбец sp_oid:	пустых значений 2385 (1.6 %)
И38_успешные_сессии_20231109.csv
всего сток: 135605
	- столбец sp_oid:	пустых значений 2128 (1.57 %)
И38_успешные_сессии_20231110.csv
всего сток: 115142
	- столбец sp_oid:	пустых значений 1546 (1.34 %)
И38_успешные_сессии_20231111.csv
всего сток: 49647
	- столбец sp_oid:	пустых значений 1018 (2.05 %)
И38_успешные_сессии_20231112.csv
всего сток: 61989
	- столбец sp_oid:	пустых значений 1104 (1.78 %)
	- столбец post_name:	пустых значений 1 (0.0 %)
И38_успешные_сессии_20231113.csv
всего сток: 160984
	- столбец sp_oid:	пустых значений 2155 (1.34 %)
	- столбец post_name:	пустых значений 4 (0.0 %)
И38_успешные_сессии_20231114.csv
всего сток: 142672
	- столбец sp_oid:	пустых значений 2163 (1.52 %)
	- столбец post_name:	пустых значений 1 (0.0 %)
И38_успешные_сессии_20231115.csv
всего сток: 135744
	- столбец sp_oid:	пустых значений 2106 (1.55 %)
	- столбец post_name:	пустых значений 3 (0.0 %)
И38_успешные_сессии_20231116.csv
всего сток: 136145
	- столбец sp_oid:	пустых значений 2021 (1.48 %)
И38_успешные_сессии_20231117.csv
всего сток: 115401
	- столбец sp_oid:	пустых значений 1642 (1.42 %)
	- столбец post_name:	пустых значений 2 (0.0 %)
И38_успешные_сессии_20231118.csv
всего сток: 51149
	- столбец sp_oid:	пустых значений 1111 (2.17 %)
И38_успешные_сессии_20231119.csv
всего сток: 64410
	- столбец sp_oid:	пустых значений 1360 (2.11 %)

In [64]:
val_se(e_file_list, e_path)

01.11.csv
всего строк: 524928
	- столбец mo_oid:	пустых значений 203637 (38.79 %)
	- столбец mo_name:	пустых значений 200992 (38.29 %)
	- столбец Post_name:	пустых значений 291528 (55.54 %)
	- столбец slot_ts:	пустых значений 506800 (96.55 %)
02.11.csv
всего строк: 496113
	- столбец Название субъекта РФ:	пустых значений 1 (0.0 %)
	- столбец mo_oid:	пустых значений 179942 (36.27 %)
	- столбец mo_name:	пустых значений 177266 (35.73 %)
	- столбец Post_name:	пустых значений 267416 (53.9 %)
	- столбец slot_ts:	пустых значений 478659 (96.48 %)
03.11.csv
всего строк: 401161
	- столбец mo_oid:	пустых значений 148081 (36.91 %)
	- столбец mo_name:	пустых значений 145727 (36.33 %)
	- столбец Post_name:	пустых значений 225016 (56.09 %)
	- столбец slot_ts:	пустых значений 388216 (96.77 %)
04.11.csv
всего строк: 190725
	- столбец mo_oid:	пустых значений 75871 (39.78 %)
	- столбец mo_name:	пустых значений 74538 (39.08 %)
	- столбец Post_name:	пустых значений 112398 (58.93 %)
	- столбец slot_ts:	пустых значений 186472 (97.77 %)
05.11.csv
всего строк: 210879
	- столбец mo_oid:	пустых значений 78448 (37.2 %)
	- столбец mo_name:	пустых значений 77011 (36.52 %)
	- столбец Post_name:	пустых значений 119949 (56.88 %)
	- столбец slot_ts:	пустых значений 205208 (97.31 %)
06.11.csv
всего строк: 343980
	- столбец mo_oid:	пустых значений 114307 (33.23 %)
	- столбец mo_name:	пустых значений 112156 (32.61 %)
	- столбец Post_name:	пустых значений 189269 (55.02 %)
	- столбец slot_ts:	пустых значений 333634 (96.99 %)
07.11.csv
всего строк: 629012
	- столбец Название субъекта РФ:	пустых значений 1 (0.0 %)
	- столбец mo_oid:	пустых значений 232905 (37.03 %)
	- столбец mo_name:	пустых значений 229493 (36.48 %)
	- столбец Post_name:	пустых значений 349168 (55.51 %)
	- столбец slot_ts:	пустых значений 606873 (96.48 %)
08.11.csv
всего строк: 544435
	- столбец Название субъекта РФ:	пустых значений 2 (0.0 %)
	- столбец mo_oid:	пустых значений 206789 (37.98 %)
	- столбец mo_name:	пустых значений 203630 (37.4 %)
	- столбец Post_name:	пустых значений 302488 (55.56 %)
	- столбец slot_ts:	пустых значений 526439 (96.69 %)
09.11.csv
всего строк: 506449
	- столбец mo_oid:	пустых значений 194283 (38.36 %)
	- столбец mo_name:	пустых значений 191306 (37.77 %)
	- столбец Post_name:	пустых значений 284532 (56.18 %)
	- столбец slot_ts:	пустых значений 491142 (96.98 %)
10.11.csv
всего строк: 428692
	- столбец Название субъекта РФ:	пустых значений 4 (0.0 %)
	- столбец mo_oid:	пустых значений 172251 (40.18 %)
	- столбец mo_name:	пустых значений 170167 (39.69 %)
	- столбец Post_name:	пустых значений 248701 (58.01 %)
	- столбец slot_ts:	пустых значений 415685 (96.97 %)
11.11.csv
всего строк: 194111
	- столбец mo_oid:	пустых значений 72186 (37.19 %)
	- столбец mo_name:	пустых значений 70718 (36.43 %)
	- столбец Post_name:	пустых значений 110844 (57.1 %)
	- столбец slot_ts:	пустых значений 189269 (97.51 %)
12.11.csv
всего строк: 282027
	- столбец Название субъекта РФ:	пустых значений 2 (0.0 %)
	- столбец mo_oid:	пустых значений 111395 (39.5 %)
	- столбец mo_name:	пустых значений 109967 (38.99 %)
	- столбец Post_name:	пустых значений 165766 (58.78 %)
	- столбец slot_ts:	пустых значений 276035 (97.88 %)
13.11.csv
всего строк: 710597
	- столбец Название субъекта РФ:	пустых значений 3 (0.0 %)
	- столбец mo_oid:	пустых значений 452211 (63.64 %)
	- столбец mo_name:	пустых значений 450577 (63.41 %)
	- столбец Post_name:	пустых значений 534027 (75.15 %)
	- столбец slot_ts:	пустых значений 698823 (98.34 %)
14.11.csv
всего строк: 538055
	- столбец Название субъекта РФ:	пустых значений 1 (0.0 %)
	- столбец mo_oid:	пустых значений 538055 (100.0 %)
	- столбец mo_name:	пустых значений 538055 (100.0 %)
	- столбец Post_name:	пустых значений 538055 (100.0 %)
	- столбец slot_ts:	пустых значений 538055 (100.0 %)
15.11.csv
всего строк: 541835
	- столбец Название субъекта РФ:	пустых значений 3 (0.0 %)
	- столбец mo_oid:	пустых значений 240517 (44.39 %)
	- столбец mo_name:	пустых значений 237772 (43.88 %)
	- столбец Post_name:	пустых значений 327533 (60.45 %)
	- столбец slot_ts:	пустых значений 526879 (97.24 %)
16.11.csv
всего строк: 510350
	- столбец mo_oid:	пустых значений 210259 (41.2 %)
	- столбец mo_name:	пустых значений 207682 (40.69 %)
	- столбец Post_name:	пустых значений 293287 (57.47 %)
	- столбец slot_ts:	пустых значений 492361 (96.48 %)
17.11.csv
всего строк: 425214
	- столбец Название субъекта РФ:	пустых значений 1 (0.0 %)
	- столбец mo_oid:	пустых значений 164956 (38.79 %)
	- столбец mo_name:	пустых значений 162524 (38.22 %)
	- столбец Post_name:	пустых значений 241757 (56.86 %)
	- столбец slot_ts:	пустых значений 408151 (95.99 %)
18.11.csv
всего строк: 187625
	- столбец mo_oid:	пустых значений 68127 (36.31 %)
	- столбец mo_name:	пустых значений 66640 (35.52 %)
	- столбец Post_name:	пустых значений 103582 (55.21 %)
	- столбец slot_ts:	пустых значений 181137 (96.54 %)
19.11.csv
всего строк: 240575
	- столбец mo_oid:	пустых значений 82667 (34.36 %)
	- столбец mo_name:	пустых значений 80896 (33.63 %)
	- столбец Post_name:	пустых значений 126154 (52.44 %)
	- столбец slot_ts:	пустых значений 231999 (96.44 %)

In [53]:
val_dm(dm_file_list, dm_path)

Ежедневные_данные_по_сессиям.xlsx
всего сток: 17088

***

In [2]:
df_test = pd.read_csv('C:/work/med/test/52000.csv', sep=';', dtype=object, header=None)

In [3]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,2023,1,NaN,555508,1.2.643.5.1.13.13.12.2.55.5446,55550800,55080007,46,65,3,5500000001130322,H10.9,1.1,NaN,0.00
1,2023,1,NaN,555508,1.2.643.5.1.13.13.12.2.55.5446,55550800,55080007,46,65,3,5500000001066333,T15.0,1.1,NaN,0.00
2,2023,1,52000,555508,1.2.643.5.1.13.13.12.2.55.5446,55550801,55080101,46,65,3,5500000001065937,H40.1,1.0,1,0.00
3,2023,1,52000,555508,1.2.643.5.1.13.13.12.2.55.5446,55550801,55080101,46,65,3,5500000001131483,H26.2,1.0,1,0.00
4,2023,1,52000,555508,1.2.643.5.1.13.13.12.2.55.5446,55550801,55080101,46,65,3,5500000001065937,H40.1,1.0,1,0.00

In [4]:
# проверка количества столбцов
e_0 = "\t- число столбцов "+str(df_test.shape[1])+" не соответствует модели" if df_test.shape[1]!=15 else ""

In [5]:
# проверка столбца 9 на "3"
e_test_3_1=""
try:
    e_test_3="\t- не все коды условий оказания МП равны 3" if df_test[9].unique().astype("int").sum()!=3 else ""
except Exception:
    e_test_3_1="\t- в кодах условий оказания МП присутствуют нечисловые или нецелые значения"

In [6]:
# правильные названия столбцов
dict_columns={0: "year",
             1: "monht",
             2: "oktmo",
             3: "id_mo",
             4: "id_oid",
             5: "id_d",
             6: "id_r",
             7: "id_spec",
             8: "id_pr",
             9: "id_ump",
             10: "id_doc",
             11: "id_ds",
             12: "id_pc",
             13: "v_count",
             14: "yet_sum",}

In [7]:
# проверка пустых значений
for column in df_test.columns:
    if df_test[column].isnull().sum()!=0:
        print(f"\t- столбец {dict_columns[column]}:\tпустых значений {df_test[column].isnull().sum()}")

	- столбец oktmo:	пустых значений 2
	- столбец v_count:	пустых значений 2

In [8]:
df_test[9] = df_test[9].astype('int')

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2572558 entries, 0 to 2572557
Data columns (total 15 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       object
 5   5       object
 6   6       object
 7   7       object
 8   8       object
 9   9       int32
 10  10      object
 11  11      object
 12  12      object
 13  13      object
 14  14      object
dtypes: int32(1), object(14)
memory usage: 284.6+ MB

In [10]:
# генератор индексов для случайного перебора строк в наборе
rate_n=0.03
test_list = random.sample(range(0, df_test.shape[0]), int(df_test.shape[0]*rate_n))

In [11]:
print(len(test_list) == len(set(test_list)))

True

In [13]:
%%time

for test_index in test_list:
    e_oid=""
    if len(df_test.loc[test_index][4].split("."))!=11:
        print(test_index, df_test.loc[test_index][4], "неверное число групп")
        e_oid = "нарушение структуры oid"
    e_year=""
    if df_test.loc[test_index][0] not in ["2022", "2023"]:
        print(f"нарушение целостности данных в строке {test_index}: год = ", df_test.loc[test_index][0])
        e_year = "нарушение диапазона значений года"
    e_month=""
    if df_test.loc[test_index][1] not in ["1",
                                          "01",
                                          "2",
                                          "02",
                                          "3",
                                          "03",
                                          "4",
                                          "04",
                                          "5",
                                          "05",
                                          "6",
                                          "06",
                                          "7",
                                          "07",
                                          "8",
                                          "08",
                                          "9",
                                          "09",
                                          "10",
                                          "11",
                                          "12"]:
        print(f"нарушение целостности данных в строке {test_index}: месяц = ", df_test.loc[test_index][1])
        e_month = "нарушение диапазона значений месяца"
    e_oktmo=""
    if len(df_test.loc[test_index][3])!=11:
        e_oktmo="\t- обнаружены нарушения значений кода ОКТМО: количество символов не равно 11"
print(f"На тестовой выборке N={rate_n*100}% от набора данных:")
if e_year=="":
    print("\t- не обнаружено нарушений диапазона значений года")
else:
    print("\t- обнаружены нарушения диапазина значенй года")
if e_month=="":
    print("\t- не обнаружено нарушений диапазона значений месяца")
else:
    print("\t- обнаружены нарушения диапазона значений месяца")
if e_oid=="":
    print("\t- не обнаружено нарушений структуры oid")
else:
    print("\t- обнаружены нарушения структуры oid")
if e_oktmo=="":
    print("\t- не обнаружено нарушений структуры кода ОКТМО")
else:
    print(e_oktmo)

На тестовой выборке N=3.0% от набора данных:
	- не обнаружено нарушений диапазона значений года
	- не обнаружено нарушений диапазона значений месяца
	- не обнаружено нарушений структуры oid
	- обнаружены нарушения значений кода ОКТМО: количество символов не равно 11
CPU times: total: 6.47 s
Wall time: 12.7 s