# 7. Найдём, как называются в таблице City базы данных World-db города из таблицы отпусков.

## Подготовим исходные данные:
### из таблицы с данными об отпусках выберем названия городов на привычном русском языке, удалив из них дубликаты;
### составим таблицу, в которой каждому названию города на русском языке будет соответствовать его название, полученное с помошью машинного перервода, и сохраним эту таблицу в файл cityse.csv на локальной машине;
### импортируетм необходимые библиотеки (собственно, для выполнения задания нам потребуется только pandas, её и импортируем);
### напишем простую функцию "sql" для обращения к базе данных World_db.

In [ ]:
import pandas as pd
def sql(slt):
  return pd.read_sql(slt, 'postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db')

### Загрузим в переменную c_hw DataFrame из файла cityes.csv с локальной машины:

In [ ]:
c_hw = pd.read_csv('cityes.csv', sep = ',')

In [ ]:
c_hw

           city_rus        city_eng
0            Бостон          Boston
1           Варшава          Warsaw
2         Вашингтон      Washington
3          Владимир        Vladimir
4            Гомель           Gomel
5           Детройт         Detroit
6            Калуга          Kaluga
7          Канберра        Canberra
8              Киев            Kiev
9              Лион            Lyon
10           Лондон          London
11            Минск           Minsk
12       Монтовидео      Montevideo
13           Москва          Moscow
14            Париж           Paris
15            Прага          Prague
16  Санкт-Петербург  St. Petersburg
17           Сидней          Sydney
18         Эдинбург       Edinburgh
19        Ярославль       Yaroslavl

### Загрузим в переменную c_db данные о городах из таблицы City базы данных World_db.

In [ ]:
c_db = sql('''
SELECT * FROM city c
''')

In [ ]:
c_db

        id            name country_code       district  population
0        1           Kabul          AFG          Kabol     1780000
1        2        Qandahar          AFG       Qandahar      237500
2        3           Herat          AFG          Herat      186800
3        4  Mazar-e-Sharif          AFG          Balkh      127800
4        5       Amsterdam          NLD  Noord-Holland      731200
...    ...             ...          ...            ...         ...
4074  4075      Khan Yunis          PSE     Khan Yunis      123175
4075  4076          Hebron          PSE         Hebron      119401
4076  4077        Jabaliya          PSE     North Gaza      113901
4077  4078          Nablus          PSE         Nablus      100231
4078  4079           Rafah          PSE          Rafah       92020

[4079 rows x 5 columns]

### Теперь самое главное: как известно, "в действительности всё не так, как на самом деле". Для корректной работы с базой данных нам не важно, как называются города в соответствии со сложившейся традицией и нормами английского языка. Нам важно знать, как называл эти города неведомый нам специалист, создавший таблицу City базы данных World_db.
> Сначала просто соединим таблицы, взяв все значения из столбца city_eng таблицы c_hw и те значения из столбца name таблицы c_db, для которых найдутся соответствия, и передадим полученный DataFrame в переменную c_b.

In [ ]:
c_b = c_hw.merge(c_db, left_on = 'city_eng', right_on = 'name', how = 'left')

In [ ]:
c_b

           city_rus        city_eng  ...              district population
0            Бостон          Boston  ...         Massachusetts  589141.00
1           Варшава          Warsaw  ...                   NaN        NaN
2         Вашингтон      Washington  ...  District of Columbia  572059.00
3          Владимир        Vladimir  ...              Vladimir  337100.00
4            Гомель           Gomel  ...                 Gomel  475000.00
5           Детройт         Detroit  ...              Michigan  951270.00
6            Калуга          Kaluga  ...                Kaluga  339300.00
7          Канберра        Canberra  ...        Capital Region  322723.00
8              Киев            Kiev  ...                   NaN        NaN
9              Лион            Lyon  ...           Rhône-Alpes  445452.00
10           Лондон          London  ...               England 7285000.00
11           Лондон          London  ...               Ontario  339917.00
12            Минск           Minsk  ...           Horad Minsk 1674000.00
13       Монтовидео      Montevideo  ...            Montevideo 1236000.00
14           Москва          Moscow  ...         Moscow (City) 8389200.00
15            Париж           Paris  ...         Île-de-France 2125246.00
16            Прага          Prague  ...                   NaN        NaN
17  Санкт-Петербург  St. Petersburg  ...                   NaN        NaN
18           Сидней          Sydney  ...       New South Wales 3276207.00
19         Эдинбург       Edinburgh  ...              Scotland  450180.00
20        Ярославль       Yaroslavl  ...                   NaN        NaN

[21 rows x 7 columns]

### Получившаяся таблица не велика, всё видно и так. Но если бы была велика? Выберем только те названия городов, для которых в City не нашдось адекватного аналога.

In [ ]:
c_b[['city_rus', 'name']].loc[c_b['name'].isna()]

           city_rus name
1           Варшава  NaN
8              Киев  NaN
16            Прага  NaN
17  Санкт-Петербург  NaN
20        Ярославль  NaN

### А для этих городов соответствие нашлось:

In [ ]:
c_b[['city_rus', 'name']].loc[c_b['name'].notnull()]

      city_rus        name
0       Бостон      Boston
2    Вашингтон  Washington
3     Владимир    Vladimir
4       Гомель       Gomel
5      Детройт     Detroit
6       Калуга      Kaluga
7     Канберра    Canberra
9         Лион        Lyon
10      Лондон      London
11      Лондон      London
12       Минск       Minsk
13  Монтовидео  Montevideo
14      Москва      Moscow
15       Париж       Paris
18      Сидней      Sydney
19    Эдинбург   Edinburgh

### Видно, что Лондонов нашлось целых два: один тот самый "кэпитал оф зе гред бритн", другой где-то в Канаде. Не будем усложнять себе задачу, тем более, что написание названий обоих городов полностью идентично. Пусть пока остаются оба, просто удалим любой из Лондонов из итогового .csv.

In [ ]:
city_0 = c_b[['city_rus', 'name']].loc[c_b['name'].isna()]
city_0 # Это они, отсутствующие города.

           city_rus name
1           Варшава  NaN
8              Киев  NaN
16            Прага  NaN
17  Санкт-Петербург  NaN
20        Ярославль  NaN

### Городов немного, воспользуемся средствами SQL и поищем каждый отдельно.

1. Варшава:

In [ ]:
sql('''
SELECT * FROM city c
WHERE c.name LIKE '_ars%%'
''') # Profit! Вот она, id = 2928!

     id        name country_code             district  population
0   171  Narsinghdi          BGD                Dhaka       98342
1  2928    Warszawa          POL          Mazowieckie     1615369
2  2975   Marseille          FRA  Provence-Alpes-Côte      798430
3  3376      Tarsus          TUR                Adana      246206
4  3416        Kars          TUR                 Kars       93000
5  3508       Karsi          UZB          Qashqadaryo      194100
6  4065      Carson          USA           California       89089

2. Киев (Украина), поищем по коду страны (UKR):

In [ ]:
sql('''
SELECT * FROM city c 
WHERE c.country_code = 'UKR'
''') # Ай-ай-ай, некрасиво-то как с Крымом получилось, аполитично! Впрочем, id = 3426.

      id                 name country_code         district  population
0   3426                 Kyiv          UKR            Kiova     2624000
1   3427     Harkova [Harkiv]          UKR          Harkova     1500000
2   3428       Dnipropetrovsk          UKR   Dnipropetrovsk     1103000
3   3429              Donetsk          UKR          Donetsk     1050000
4   3430                Odesa          UKR            Odesa     1011000
5   3431           Zaporizzja          UKR       Zaporizzja      848000
6   3432                 Lviv          UKR             Lviv      788000
7   3433           Kryvyi Rig          UKR   Dnipropetrovsk      703000
8   3434            Mykolajiv          UKR        Mykolajiv      508000
9   3435             Mariupol          UKR          Donetsk      490000
10  3436              Lugansk          UKR          Lugansk      469000
11  3437            Vinnytsja          UKR        Vinnytsja      391000
12  3438            Makijivka          UKR          Donetsk      384000
13  3439               Herson          UKR           Herson      353000
14  3440           Sevastopol          UKR             Krim      348000
15  3441           Simferopol          UKR             Krim      339000
16  3442    Pultava [Poltava]          UKR          Pultava      313000
17  3443            Ternigiv          UKR        Ternigiv      313000
18  3444             Terkasy          UKR         Terkasy      309000
19  3445             Gorlivka          UKR          Donetsk      299000
20  3446              Zytomyr          UKR          Zytomyr      297000
21  3447                 Sumy          UKR             Sumy      294000
22  3448      Dniprodzerzynsk          UKR   Dnipropetrovsk      270000
23  3449           Kirovograd          UKR       Kirovograd      265000
24  3450          Hmelnytskyi          UKR      Hmelnytskyi      262000
25  3451           Ternivtsi          UKR       Ternivtsi      259000
26  3452                Rivne          UKR            Rivne      245000
27  3453           Krementuk          UKR          Pultava      239000
28  3454      Ivano-Frankivsk          UKR  Ivano-Frankivsk      237000
29  3455             Ternopil          UKR         Ternopil      236000
30  3456                Lutsk          UKR          Volynia      217000
31  3457         Bila Tserkva          UKR            Kiova      215000
32  3458           Kramatorsk          UKR          Donetsk      186000
33  3459            Melitopol          UKR       Zaporizzja      169000
34  3460                Kert          UKR             Krim      162000
35  3461              Nikopol          UKR   Dnipropetrovsk      149000
36  3462            Berdjansk          UKR       Zaporizzja      130000
37  3463            Pavlograd          UKR   Dnipropetrovsk      127000
38  3464       Sjeverodonetsk          UKR          Lugansk      127000
39  3465            Slovjansk          UKR          Donetsk      127000
40  3466              Uzgorod          UKR    Taka-Karpatia      127000
41  3467             Altevsk          UKR          Lugansk      119000
42  3468           Lysytansk          UKR          Lugansk      116000
43  3469          Jevpatorija          UKR             Krim      112000
44  3470  Kamjanets-Podilskyi          UKR      Hmelnytskyi      109000
45  3471           Jenakijeve          UKR          Donetsk      105000
46  3472         Krasnyi Lut          UKR          Lugansk      101000
47  3473             Stahanov          UKR          Lugansk      101000
48  3474         Oleksandrija          UKR       Kirovograd       99000
49  3475              Konotop          UKR             Sumy       96000
50  3476       Kostjantynivka          UKR          Donetsk       95000
51  3477            Berdytiv          UKR          Zytomyr       90000
52  3478              Izmajil          UKR            Odesa       90000
53  3479               ostka          UKR             Sumy       90000
54  3480                 Uman          UKR         Terkasy       90000
55  3481              Brovary          UKR            Kiova       89000
56  3482            Mukateve          UKR    Taka-Karpatia       89000

3. Прага (Чешская Республика, CZE):

In [ ]:
sql('''
SELECT * FROM city c
WHERE c.country_code = 'CZE'
''') # id = 3339

     id              name country_code            district  population
0  3339             Praha          CZE  Hlavní mesto Praha     1181126
1  3340              Brno          CZE        Jizní Morava      381862
2  3341           Ostrava          CZE      Severní Morava      320041
3  3342             Plzen          CZE       Zapadní Cechy      166759
4  3343           Olomouc          CZE      Severní Morava      102702
5  3344           Liberec          CZE       Severní Cechy       99155
6  3345  Ceské Budejovice          CZE         Jizní Cechy       98186
7  3346    Hradec Králové          CZE      Východní Cechy       98080
8  3347    Ústí nad Labem          CZE       Severní Cechy       95491
9  3348         Pardubice          CZE      Východní Cechy       91309

4. Санкт-Петербург (Россия, RUS). Велика Россия, но Санкт-Петербург нашёлся в первых рядах, дополнительных критериев отбора использовать не пришлось:

In [ ]:
sql('''
SELECT * FROM city c
WHERE c.country_code = 'RUS'
''') # id = 3581

       id             name country_code          district  population
0    3580           Moscow          RUS     Moscow (City)     8389200
1    3581    St Petersburg          RUS           Pietari     4694000
2    3582      Novosibirsk          RUS       Novosibirsk     1398800
3    3583   Nizni Novgorod          RUS    Nizni Novgorod     1357000
4    3584    Jekaterinburg          RUS        Sverdlovsk     1266300
..    ...              ...          ...               ...         ...
184  3764  Kirovo-Tepetsk          RUS             Kirov       91600
185  3765      Krasnogorsk          RUS           Moskova       91000
186  3766             Klin          RUS           Moskova       90000
187  3767       Taikovski          RUS              Perm       90000
188  3768    Novyi Urengoi          RUS  Yamalin Nenetsia       89800

[189 rows x 5 columns]

5. То ли дело Ярославль:

In [ ]:
sql('''
SELECT * FROM city c
WHERE c.country_code = 'RUS' AND c.name LIKE '%%sla%%';
''') # Ага, id = 3600.

     id       name country_code   district  population
0  3600  Jaroslavl          RUS  Jaroslavl      616700

### Выполняем запрос, и вот они - отсутствующие города:
> Можно было бы, конечно, доработать код таким образом, чтобы id городов подтягивались автоматически при каждом выполнении блокнота. Но не будем усложнять, для целей аналитики данных имеющегося варианта вполне достаточно.

In [ ]:
city_1 = sql('''
SELECT c.name FROM city c
WHERE c.id IN ('2928', '3426', '3426', '3339', '3581', '3600')
''')

In [ ]:
city_1

            name
0       Warszawa
1          Praha
2           Kyiv
3  St Petersburg
4      Jaroslavl

## Создадим новый DataFrame и сформируем итоговый справочник городов c_all.

In [ ]:
city_rus = ['Варшава', 'Киев', 'Прага', 'Санкт-Петербург', 'Ярославль']
name = ['Warszawa', 'Kyiv', 'Praha', 'St Petersburg', 'Jaroslavl']
data = list(zip(city_rus, name))
ciyt_2 = pd.DataFrame(data, columns=['city_rus', 'name'])

In [ ]:
ciyt_2

          city_rus           name
0          Варшава       Warszawa
1             Киев           Kyiv
2            Прага          Praha
3  Санкт-Петербург  St Petersburg
4        Ярославль      Jaroslavl

In [ ]:
c_all = pd.concat([c_b[['city_rus', 'name']].loc[c_b['name'].notnull()], ciyt_2], ignore_index=True)

In [ ]:
c_all

           city_rus           name
0            Бостон         Boston
1         Вашингтон     Washington
2          Владимир       Vladimir
3            Гомель          Gomel
4           Детройт        Detroit
5            Калуга         Kaluga
6          Канберра       Canberra
7              Лион           Lyon
8            Лондон         London
9            Лондон         London
10            Минск          Minsk
11       Монтовидео     Montevideo
12           Москва         Moscow
13            Париж          Paris
14           Сидней         Sydney
15         Эдинбург      Edinburgh
16          Варшава       Warszawa
17             Киев           Kyiv
18            Прага          Praha
19  Санкт-Петербург  St Petersburg
20        Ярославль      Jaroslavl

### Удалим один лишний (любой) Лондон.

In [ ]:
c_all = c_all.drop(index=[9])
c_all = c_all.reset_index(drop=True)
c_all

           city_rus           name
0            Бостон         Boston
1         Вашингтон     Washington
2          Владимир       Vladimir
3            Гомель          Gomel
4           Детройт        Detroit
5            Калуга         Kaluga
6          Канберра       Canberra
7              Лион           Lyon
8            Лондон         London
9             Минск          Minsk
10       Монтовидео     Montevideo
11           Москва         Moscow
12            Париж          Paris
13           Сидней         Sydney
14         Эдинбург      Edinburgh
15          Варшава       Warszawa
16             Киев           Kyiv
17            Прага          Praha
18  Санкт-Петербург  St Petersburg
19        Ярославль      Jaroslavl

## И, наконец, выгрузим результаты работы в файл.

In [ ]:
c_all.to_csv('cityes_all.csv', sep = ',')



---


# 8. Передадим в переменную tbl таблицу отпусков с добавленным в неё столбцом ciyt_db, содержащем названия городов из базы World_db.

In [ ]:
tbl = pd.read_csv('table_homework_module#1(С.Еремеев).csv', sep = ',').drop(columns = ['bud', 'timestamp', 'date_vacation'],axis = 1) #Заодно удалим незначимые данные.

In [ ]:
tbl

           country             city  ... one_day_budget        city_db
0           Россия           Москва  ...     8,500.00 ₽         Moscow
1          Франция            Париж  ...     8,600.00 ₽          Paris
2              США           Бостон  ...    12,368.42 ₽         Boston
3          Уругвай       Монтовидео  ...    17,105.26 ₽     Montevideo
4          Франция             Лион  ...     8,636.36 ₽           Lyon
5              США          Детройт  ...    12,750.00 ₽        Detroit
6   Великобритания           Лондон  ...    10,238.10 ₽         London
7        Австралия           Сидней  ...    34,285.71 ₽         Sydney
8           Россия  Санкт-Петербург  ...     7,050.00 ₽  St Petersburg
9          Уругвай       Монтовидео  ...    15,263.16 ₽     Montevideo
10          Польша          Варшава  ...     8,944.44 ₽       Warszawa
11          Россия           Москва  ...    10,454.55 ₽         Moscow
12      Белоруссия           Гомель  ...     7,750.00 ₽          Gomel
13             США        Вашингтон  ...    14,250.00 ₽     Washington
14           Чехия            Прага  ...    12,181.82 ₽          Praha
15  Великобритания         Эдинбург  ...    30,083.33 ₽      Edinburgh
16         Украина             Киев  ...     9,714.29 ₽           Kyiv
17          Россия           Калуга  ...     5,566.67 ₽         Kaluga
18          Россия        Ярославль  ...     5,700.00 ₽      Jaroslavl
19       Австралия         Канберра  ...    23,333.33 ₽       Canberra
20      Белоруссия            Минск  ...     8,904.76 ₽          Minsk
21          Россия         Владимир  ...    23,750.00 ₽       Vladimir

[22 rows x 13 columns]



---


# 9. Получим DataFrame  c_pop с названием города и численностью его населения из таблицы City базы данных World_db.
> Не будем забывать, что город с одним и тем же названием может быть более чем в одной стране (ситуацию, при которой более одного города с одним названием может оказаться в одной стране, не рассматриваем. Строго говоря, если бы такая проблема существовала, это было бы понятно ещё на этапе формирования исходной таблицы при заполнении Google формы).

In [ ]:
c_pop = sql('''
SELECT c.name, c.population
FROM city c
WHERE c.country_code IN ('RUS', 'FRA', 'USA', 'URY', 'GBR', 'AUS', 'POL', 'BLR', 'CZE', 'UKR');
''')

In [ ]:
c_pop.head()

        name  population
0     Sydney     3276207
1  Melbourne     2865329
2   Brisbane     1291117
3      Perth     1096829
4   Adelaide      978100



---


# 10. Соединим данные из c_pop и tbl, сгруппируем итоговый DataFrame по странам и рассчитаем среднюю численность населения в городах, в которых проходил отпуск.

In [ ]:
tbl_total = tbl.merge(c_pop, left_on = 'city_db', right_on = 'name', how = 'left')
tbl_total

           country             city  ...           name population
0           Россия           Москва  ...         Moscow    8389200
1          Франция            Париж  ...          Paris    2125246
2              США           Бостон  ...         Boston     589141
3          Уругвай       Монтовидео  ...     Montevideo    1236000
4          Франция             Лион  ...           Lyon     445452
5              США          Детройт  ...        Detroit     951270
6   Великобритания           Лондон  ...         London    7285000
7        Австралия           Сидней  ...         Sydney    3276207
8           Россия  Санкт-Петербург  ...  St Petersburg    4694000
9          Уругвай       Монтовидео  ...     Montevideo    1236000
10          Польша          Варшава  ...       Warszawa    1615369
11          Россия           Москва  ...         Moscow    8389200
12      Белоруссия           Гомель  ...          Gomel     475000
13             США        Вашингтон  ...     Washington     572059
14           Чехия            Прага  ...          Praha    1181126
15  Великобритания         Эдинбург  ...      Edinburgh     450180
16         Украина             Киев  ...           Kyiv    2624000
17          Россия           Калуга  ...         Kaluga     339300
18          Россия        Ярославль  ...      Jaroslavl     616700
19       Австралия         Канберра  ...       Canberra     322723
20      Белоруссия            Минск  ...          Minsk    1674000
21          Россия         Владимир  ...       Vladimir     337100

[22 rows x 16 columns]

In [ ]:
avg_population = tbl_total.groupby('country').mean().drop(columns = ['evaluation'],axis = 1)
avg_population.rename(columns = {'population': 'avg_pop_by_cityes'}, inplace = True)
pd.set_option('display.float_format', '{:.2f}'.format) # Предлагаемый по умолчанию "научный" формат вывода какой-то ненаглядный, изменим его на более понятный.
avg_population

                avg_pop_by_cityes
country
Австралия              1799465.00
Белоруссия             1074500.00
Великобритания         3867590.00
Польша                 1615369.00
Россия                 3794250.00
США                     704156.67
Украина                2624000.00
Уругвай                1236000.00
Франция                1285349.00
Чехия                  1181126.00

# **Profit!**


---

In [ ]:
sql('''
with my_city as (
select * from city c 
where c."name" in ('Boston', 'Washington', 'Vladimir',
'Gomel', 'Detroit', 'Kaluga', 'Canberra', 'Lyon',
'London', 'Minsk', 'Montevideo', 'Moscow', 'Paris',
'Sydney', 'Edinburgh', 'Warszawa', 'Kyiv', 'Praha',
'St Petersburg', 'Jaroslavl') and c.country_code != 'CAN'
)
select distinct country.name as country,
avg(my_city.population) over(partition by my_city.country_code) as "avg_pop_by_cityes"
from my_city
left join country on my_city.country_code = country.code
order by avg_pop_by_cityes;
''') # с применением оконных функций

              country  avg_pop_by_cityes
0       United States       7.041567e+05
1             Belarus       1.074500e+06
2      Czech Republic       1.181126e+06
3             Uruguay       1.236000e+06
4              France       1.285349e+06
5              Poland       1.615369e+06
6           Australia       1.799465e+06
7             Ukraine       2.624000e+06
8  Russian Federation       2.875260e+06
9      United Kingdom       3.867590e+06