# Посещение врачей

In [79]:
import pandas as pd
import numpy as np

# игнорирование предупреждения о формате при импорте из excel
import warnings

warnings.simplefilter("ignore")

%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

ISO-8859-1

In [85]:
# загрузка файла
df_data = pd.read_csv(
    "/home/sk27/work/med/data/source.csv",
    sep=";",
    encoding="utf-16",
    low_memory=False,
)

In [86]:
df_data

,year,month,region,oktmo,clinic,oid,depart,branch,doctor_specialty,doctor_profile,...,purpose,service_id,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum
0,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
1,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.3,R03.03.102.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
2,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,10,1,1,NaN
3,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,137-097-107 64,24,790001,79000100,12,5,1,NaN
4,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,138-993-968 45,24,790001,79000100,2,15,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25405,2023,2,99,99000000000,790021,1.2.643.5.1.13.13.12.2.79.8838,79002100,NaN,41,60,...,1.0,B01.027.001,17717264189,41,790021,79002100,2,3,1,NaN
25406,2023,2,99,99000000000,790021,1.2.643.5.1.13.13.12.2.79.8838,79002100,NaN,45,162,...,1.0,B01.028.001,13109077827,45,790021,79002100,1,1,1,NaN
25407,2023,2,99,99000000000,790021,1.2.643.5.1.13.13.12.2.79.8838,79002100,NaN,76,97,...,1.0,B01.047.001,6180038532,76,790021,79002100,1,1,1,NaN
25408,2023,2,99,99000000000,790021,1.2.643.5.1.13.13.12.2.79.8838,79002100,NaN,76,97,...,1.0,B01.047.001,6180038532,76,790021,79002100,1,1,1,NaN
25409,2023,2,99,99000000000,790021,1.2.643.5.1.13.13.12.2.79.8838,79002100,NaN,206,42,...,2.6,26.73,7044889275,206,790021,79002100,240,1,1,NaN

In [43]:
df_data.shape

(146941, 22)

In [44]:
df_data[df_data.duplicated()]

,2023,2,87000,110001,1.2.643.5.1.13.13.12.2.11.724,11000100,Unnamed: 6,2.1,136,3,...,1.0,B01.001.001,035-508-952 59.1,2.2,110001.1,11000100.1,1,1.1,1.2,0.00
143138,2023,2,87000,110001,1.2.643.5.1.13.13.12.2.11.724,11000100,NaN,76,97,3,...,3.0,B01.047.005,157-524-235 70,76,110001,11000100,1,1,1,0.00
143139,2023,2,87000,110001,1.2.643.5.1.13.13.12.2.11.724,11000100,NaN,76,97,3,...,3.0,B01.047.006,157-524-235 70,76,110001,11000100,1,1,1,0.00
143141,2023,2,87000,110001,1.2.643.5.1.13.13.12.2.11.724,11000100,NaN,90,112,3,...,1.1,B01.057.001,051-248-153 26,90,110001,11000100,1,1,1,0.00
143145,2023,2,87000,110001,1.2.643.5.1.13.13.12.2.11.724,11000100,NaN,206,42,3,...,1.1,B01.047.002,135-282-087 50,206,110001,11000100,1,1,1,0.00
143173,2023,2,87000,110002,1.2.643.5.1.13.13.12.2.11.737,11000203,NaN,2,136,3,...,2.6,B01.001.004,058-607-452 83,2,110002,11000203,1,1,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146882,2023,2,87000,110054,1.2.643.5.1.13.13.12.2.11.781,11005400,NaN,208,85,3,...,3.0,B01.003.004.005,131-620-606 09,208,110054,11005400,1,3,1,1.50
146883,2023,2,87000,110054,1.2.643.5.1.13.13.12.2.11.781,11005400,NaN,208,85,3,...,3.0,B01.065.003,131-620-606 09,208,110054,11005400,1,2,1,3.36
146884,2023,2,87000,110054,1.2.643.5.1.13.13.12.2.11.781,11005400,NaN,208,85,3,...,3.0,A25.07.001,131-620-606 09,208,110054,11005400,1,1,1,0.25
146912,2023,2,87000,110056,1.2.643.5.1.13.13.12.2.11.762,11005600,NaN,208,85,3,...,3.0,A16.07.002.010,011-990-477 46,208,110056,11005600,1,1,1,3.35
146925,2023,2,87000,110056,1.2.643.5.1.13.13.12.2.11.762,11005600,NaN,208,85,3,...,3.0,A16.07.001.002,128-437-042 57,208,110056,11005600,1,1,1,1.55

In [45]:
df_data[df_data.duplicated()].shape

(355, 22)

## 1. Подготовка данных

In [46]:
%%time

# вспомогательные функции

def oktmo(o):
    """
    функция дополняет код ОКТМО до 11 символов или до 10 символов без ведущего 0
    """
    if len(str(o)) == 1:
        l = 9
    else:
        l = 11-len(str(o))
    return int(str(o) + "0"*(l))
    
def visit_count(row):
    """
    функция определяет количество посещений согласно условиям
    """
    if row["purpose"] >= 3:
        res = row["code_usl"] * row["kol_usl"]
    else:
        res = row["sl_id"]
    if np.isnan(res):
        return "не определено"
    else:
        return res
    
# загрузка справочников
f_032 = pd.read_excel("/home/sk27/work/med/data/F032.xlsx")
v_021 = pd.read_excel("/home/sk27/work/med/data/V021.xlsx")
v_002 = pd.read_excel("/home/sk27/work/med/data/V002.xlsx")
v_006 = pd.read_excel("/home/sk27/work/med/data/V006.xlsx")
v_025 = pd.read_excel("/home/sk27/work/med/data/V025.xlsx")
oid_data = pd.read_excel("/home/sk27/work/med/data/oid_data.xlsx")

# актуализация справочников
f_032 = f_032[["OKTMO_P", "SUBJ"]].drop_duplicates().reset_index(drop=True)
v_021 = v_021[v_021["DATEEND"].isna()]
v_002 = v_002[v_002["DATEEND"].isna()]
v_006 = v_006[v_006["DATEEND"].isna()]
v_025 = v_025[v_025["DATEEND"].isna()]


# добавление в файл данных строки заголовков
with open("/home/sk27/work/med/data/source.csv", "r") as f:
    first_line = next(f).strip()
    if first_line[0:4] != "year":
        with open(
            "/home/sk27/work/med/data/source.csv", "r", encoding="ISO-8859-1"
        ) as original:
            data = original.read()
        with open("/home/sk27/work/med/data/source.csv", "w") as modified:
            modified.write(
                "year;month;region;clinic;oid;depart;branch;doctor_specialty;doctor_profile;terms;doctor_id;diagnosis;purpose;service_id;usl_service_id;usl_doctor_specialty;usl_clinic;usl_depart;sl_id;code_usl;kol_usl;yet_sum\n"
                + data
            )
    else:
        pass


# загрузка файла
df_data = pd.read_csv(
    "/home/sk27/work/med/data/source.csv",
    sep=";",
    encoding="ISO-8859-1",
    low_memory=False,
)

# УДАЛЕНИЕ ДУБЛИКАТОВ СТРОК
df_data = df_data.drop_duplicates()

# удаление кавычек
for i, col in enumerate(df_data.columns):
    df_data.iloc[:, i] = df_data.iloc[:, i].astype("str").str.replace('"', "")
# df_data = df_data.apply(pd.to_numeric, errors="ignore")

# замена ВСЕХ запятых точками
for i, col in enumerate(df_data.columns):
    df_data.iloc[:, i] = df_data.iloc[:, i].astype("str").str.replace(',', ".")
df_data = df_data.apply(pd.to_numeric, errors="ignore")

# вставка столбца ОКТМО
df_data.insert(3, "oktmo", df_data["region"].apply(oktmo))

# проверка загруженных данных

# а) проверка количества столбцов - их должно быть именно 23 вместе с добавленным мной столбцом ОКТМО
if df_data.shape[1] > 23:
    print(f"Количество полей в файле (их {df_data.shape[1]}) не соответствует форме отчёта, должно быть 23.")
else:
    pass

# б) проверка столбца terms на "только 3"
try:
    if df_data["terms"].mean() != 3:
        print(
            "Нарушено требование об указании в поле 'Условия оказания медпомощи' только значения '3'."
        )
except:
    print("Не проходит проверка на '3'")
    
# расшифровка кодов

CPU times: user 50.6 s, sys: 224 ms, total: 50.8 s
Wall time: 50.9 s

In [87]:
df_data.head(10)

,year,month,region,oktmo,clinic,oid,depart,branch,doctor_specialty,doctor_profile,...,purpose,service_id,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum
0,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
1,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.3,R03.03.102.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
2,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,10,1,1,NaN
3,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,137-097-107 64,24,790001,79000100,12,5,1,NaN
4,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,138-993-968 45,24,790001,79000100,2,15,1,NaN
5,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
6,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,1.0,B01.014.001,137-097-107 64,24,790001,79000100,1,1,1,NaN
7,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.001,137-097-107 64,24,790001,79000100,1,4,1,NaN
8,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,137-097-107 64,24,790001,79000100,7,3,1,NaN
9,2023,1,99,99000000000,790001,1.2.643.5.1.13.13.12.2.79.8850,79000100,NaN,24,28,...,3.0,B01.014.002,137-097-107 64,24,790001,79000100,3,3,1,NaN

In [88]:
df_data.shape

(25410, 23)

In [89]:
df_data[df_data.duplicated()]

Empty DataFrame
Columns: [year, month, region, oktmo, clinic, oid, depart, branch, doctor_specialty, doctor_profile, terms, doctor_id, diagnosis, purpose, service_id, usl_service_id, usl_doctor_specialty, usl_clinic, usl_depart, sl_id, code_usl, kol_usl, yet_sum]
Index: []

[0 rows x 23 columns]

## 2. Расшифровка кодов

In [90]:
# расшифорвка названия субьекта Росссийской Федерации
df_data = df_data.merge(f_032, left_on="oktmo", right_on="OKTMO_P", how="left")

In [91]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "depart",
        "branch",
        "doctor_specialty",
        "doctor_profile",
        "terms",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [92]:
df_data = df_data.drop_duplicates()

In [93]:
df_data.shape

(25410, 24)

In [94]:
# расшифровка наименования (сокращённого) медучреждения
df_data = df_data.merge(oid_data, left_on="oid", right_on="oid", how="left")

In [95]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "doctor_profile",
        "terms",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [96]:
df_data.shape

(25410, 25)

In [97]:
# расшифровка специальности врача
df_data = df_data.merge(
    v_021, left_on="doctor_specialty", right_on="IDSPEC", how="left"
)

In [98]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "POSTNAME",
        "doctor_profile",
        "terms",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [99]:
df_data.shape

(25410, 26)

In [100]:
# расшифровка профиля врача
df_data = df_data.merge(v_002, left_on="doctor_profile", right_on="IDPR", how="left")

In [101]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "POSTNAME",
        "doctor_profile",
        "PRNAME",
        "terms",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [102]:
df_data.shape

(25410, 27)

In [103]:
# расшифровка специальности врача, оказавшего услугу
df_data = df_data.merge(
    v_021, left_on="doctor_specialty", right_on="IDSPEC", how="left"
)

In [104]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "POSTNAME_x",
        "doctor_profile",
        "PRNAME",
        "terms",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "POSTNAME_y",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [105]:
df_data.shape

(25410, 28)

In [106]:
# расшифровка условий оказания помощи
df_data = df_data.merge(v_006, left_on="terms", right_on="IDUMP", how="left")

In [107]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "POSTNAME_x",
        "doctor_profile",
        "PRNAME",
        "terms",
        "UMPNAME",
        "doctor_id",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "POSTNAME_y",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [108]:
df_data.shape

(25410, 29)

In [109]:
# расшифровка цели посещения
df_data = df_data.merge(v_025, left_on="purpose", right_on="IDPC", how="left")

In [110]:
df_data = df_data[
    [
        "year",
        "month",
        "region",
        "oktmo",
        "SUBJ",
        "clinic",
        "oid",
        "nameShort",
        "depart",
        "branch",
        "doctor_specialty",
        "POSTNAME_x",
        "doctor_profile",
        "PRNAME",
        "terms",
        "UMPNAME",
        "doctor_id",
        "diagnosis",
        "purpose",
        "N_PC",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "POSTNAME_y",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
    ]
].reset_index(drop=True)

In [111]:
df_data.shape

(25410, 30)

In [112]:
df_data

,year,month,region,oktmo,SUBJ,clinic,oid,nameShort,depart,branch,...,service_id,usl_service_id,usl_doctor_specialty,POSTNAME_y,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum
0,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,B01.014.001,137-097-107 64,24,врач-инфекционист,790001,79000100,1,1,1,NaN
1,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,R03.03.102.001,137-097-107 64,24,врач-инфекционист,790001,79000100,1,1,1,NaN
2,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,B01.014.001,137-097-107 64,24,врач-инфекционист,790001,79000100,10,1,1,NaN
3,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,B01.014.002,137-097-107 64,24,врач-инфекционист,790001,79000100,12,5,1,NaN
4,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,B01.014.002,138-993-968 45,24,врач-инфекционист,790001,79000100,2,15,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25405,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,B01.027.001,17717264189,41,врач-онколог,790021,79002100,2,3,1,NaN
25406,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,B01.028.001,13109077827,45,врач-оториноларинголог,790021,79002100,1,1,1,NaN
25407,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,B01.047.001,6180038532,76,врач-терапевт,790021,79002100,1,1,1,NaN
25408,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,B01.047.001,6180038532,76,врач-терапевт,790021,79002100,1,1,1,NaN
25409,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,26.73,7044889275,206,фельдшер,790021,79002100,240,1,1,NaN

## 3. Расчёт количества посещений

In [113]:
# определение количества посещений
df_data["visit_count"] = df_data.apply(visit_count, axis=1)

In [114]:
df_data

,year,month,region,oktmo,SUBJ,clinic,oid,nameShort,depart,branch,...,usl_service_id,usl_doctor_specialty,POSTNAME_y,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum,visit_count
0,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,137-097-107 64,24,врач-инфекционист,790001,79000100,1,1,1,NaN,1
1,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,137-097-107 64,24,врач-инфекционист,790001,79000100,1,1,1,NaN,1
2,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,137-097-107 64,24,врач-инфекционист,790001,79000100,10,1,1,NaN,10
3,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,137-097-107 64,24,врач-инфекционист,790001,79000100,12,5,1,NaN,5
4,2023,1,99,99000000000,Еврейская АО,790001,1.2.643.5.1.13.13.12.2.79.8850,ОГБУЗ Областная больница,79000100,NaN,...,138-993-968 45,24,врач-инфекционист,790001,79000100,2,15,1,NaN,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25405,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,17717264189,41,врач-онколог,790021,79002100,2,3,1,NaN,2
25406,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,13109077827,45,врач-оториноларинголог,790021,79002100,1,1,1,NaN,1
25407,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,6180038532,76,врач-терапевт,790021,79002100,1,1,1,NaN,1
25408,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,6180038532,76,врач-терапевт,790021,79002100,1,1,1,NaN,1
25409,2023,2,99,99000000000,Еврейская АО,790021,1.2.643.5.1.13.13.12.2.79.8838,"ОГБУЗ ""Онкологический диспансер""",79002100,NaN,...,7044889275,206,фельдшер,790021,79002100,240,1,1,NaN,240

## 4. Контроль результатов

In [115]:
# формат данных
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25410 entries, 0 to 25409
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  25410 non-null  int64
 1   month                 25410 non-null  int64
 2   region                25410 non-null  int64
 3   oktmo                 25410 non-null  int64
 4   SUBJ                  25410 non-null  object
 5   clinic                25410 non-null  int64
 6   oid                   25410 non-null  object
 7   nameShort             25410 non-null  object
 8   depart                25410 non-null  int64
 9   branch                377 non-null    float64
 10  doctor_specialty      25410 non-null  int64
 11  POSTNAME_x            25410 non-null  object
 12  doctor_profile        25410 non-null  int64
 13  PRNAME                25410 non-null  object
 14  terms                 25410 non-null  int64
 15  UMPNAME               25410 non-null  object
 16  doctor_id             25410 non-null  object
 17  diagnosis             25410 non-null  object
 18  purpose               25410 non-null  float64
 19  N_PC                  25410 non-null  object
 20  service_id            25410 non-null  object
 21  usl_service_id        25410 non-null  object
 22  usl_doctor_specialty  25410 non-null  int64
 23  POSTNAME_y            25410 non-null  object
 24  usl_clinic            25410 non-null  int64
 25  usl_depart            25410 non-null  int64
 26  sl_id                 25410 non-null  int64
 27  code_usl              25410 non-null  int64
 28  kol_usl               25410 non-null  int64
 29  yet_sum               533 non-null    float64
 30  visit_count           25410 non-null  int64
dtypes: float64(3), int64(16), object(12)
memory usage: 6.0+ MB

In [116]:
# пустые количества посещений
df_data[np.isnan(df_data["visit_count"])]

Empty DataFrame
Columns: [year, month, region, oktmo, SUBJ, clinic, oid, nameShort, depart, branch, doctor_specialty, POSTNAME_x, doctor_profile, PRNAME, terms, UMPNAME, doctor_id, diagnosis, purpose, N_PC, service_id, usl_service_id, usl_doctor_specialty, POSTNAME_y, usl_clinic, usl_depart, sl_id, code_usl, kol_usl, yet_sum, visit_count]
Index: []

[0 rows x 31 columns]

In [117]:
# не определённые количества посещений
df_data[df_data["visit_count"] == "не определено"]

Empty DataFrame
Columns: [year, month, region, oktmo, SUBJ, clinic, oid, nameShort, depart, branch, doctor_specialty, POSTNAME_x, doctor_profile, PRNAME, terms, UMPNAME, doctor_id, diagnosis, purpose, N_PC, service_id, usl_service_id, usl_doctor_specialty, POSTNAME_y, usl_clinic, usl_depart, sl_id, code_usl, kol_usl, yet_sum, visit_count]
Index: []

[0 rows x 31 columns]

In [118]:
# сохранение результатов на диск
df_data.to_csv("/home/sk27/work/med/data/result.csv", encoding="utf-8-sig")

## 2. Удаление дубликатов

In [6]:
%%time

# вспомогательная функция: определение количества посещений
def visit_count(row):
    '''функция определяет количество посещений согласно условиям'''
    if row['purpose'] < 3:
        return row['sl_id']
    elif row['purpose'] >= 3:
        res = row['code_usl'] * row['kol_usl']
        try:
            if np.isnan(res):
                return 0
        except:
            return res
    else:
        return 'не определено'

# расшифровка идентификаторов

# загрузка и очистка данных
df_data = pd.read_csv('C:/Users/Admin/Documents/work/data/source.csv', sep=';', encoding = 'ISO-8859-1', low_memory=False)
df_data = df_data.apply(pd.to_numeric, errors='ignore')
df_data['purpose'] = df_data['purpose'].apply(pd.to_numeric, errors='coerce')
# сохранение дубликатов на диск
df_data_duplicates = df_data[df_data.duplicated()].reset_index()
df_data_duplicates.to_csv('C:/Users/Admin/Documents/work/data/duplicates.csv')
# удаление дубликатов
df_data = df_data.drop_duplicates().reset_index(drop=True)
# загрузка справочников
f_032 = pd.read_excel("C:/Users/Admin/Documents/work/data/F032.xlsx")
v_021 = pd.read_excel("C:/Users/Admin/Documents/work/data/V021.xlsx")
v_002 = pd.read_excel("C:/Users/Admin/Documents/work/data/V002.xlsx")
v_006 = pd.read_excel("C:/Users/Admin/Documents/work/data/V006.xlsx")
v_025 = pd.read_excel("C:/Users/Admin/Documents/work/data/V025.xlsx")
oid_data = pd.read_excel("C:/Users/Admin/Documents/work/data/oid_data.xlsx")
# расшифровка субъекта и МО
df_data = df_data.merge(f_032, left_on='region', right_on='MCOD', how='left').merge(f_032, left_on="clinic", right_on='MCOD', how='left').reset_index(drop=True)
# расшифровка медучреждения
df_data = df_data.merge(oid_data, left_on='oid', right_on='oid', how='left').merge(f_032, left_on="clinic", right_on='MCOD', how='left').reset_index(drop=True)
# расшифровка специальности врача
df_data = df_data.merge(v_021, left_on='doctor_specialty', right_on='IDSPEC', how='left')
# расшифровка профиля врача
df_data = df_data.merge(v_002, left_on='doctor_profile', right_on='IDPR', how='left')
# расшифровка условий оказания помощи
df_data = df_data.merge(v_006, left_on='terms', right_on='IDUMP', how='left')
# расшифровка цели посещения
df_data = df_data.merge(v_025, left_on='purpose', right_on='IDPC', how='left')

CPU times: total: 1min 43s
Wall time: 1min 45s

In [4]:
# фильтрация данных
df_data = df_data[['year', 'month', 'region', 'SUBJ_x', 'clinic', 'SUBJ_y', 'oid', 'nameShort', 'depart', 'branch',
       'doctor_specialty', 'SPECNAME', 'doctor_profile', 'PRNAME', 'terms', 'IDUMP', 'doctor_id', 'diagnosis',
       'purpose', 'N_PC', 'service_id', 'usl_service_id', 'usl_doctor_specialty',
       'usl_clinic', 'usl_depart', 'sl_id', 'code_usl', 'kol_usl', 'yet_sum']].copy().drop_duplicates().reset_index(drop=True)
# определение количества посещений
df_data['visit_count'] = df_data.apply(visit_count, axis=1)

In [5]:
df_data

,year,month,region,SUBJ_x,clinic,SUBJ_y,oid,nameShort,depart,branch,...,service_id,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum,visit_count
0,2023,1,25000,Республика Башкортостан,380049,Иркутская область,1.2.643.5.1.13.13.12.2.38.3568,"ОГБУЗ ""ИГП №15""",1,1,...,B01.047.001,186,1,1,1.0,0.00,NaN,NaN,NaN,0
1,2023,1,25000,Республика Башкортостан,380049,Иркутская область,1.2.643.5.1.13.13.12.2.38.3568,"ОГБУЗ ""ИГП №15""",1,1,...,B01.047.001,035,1,1,1.0,0.00,NaN,NaN,NaN,0
2,2023,1,25000,Республика Башкортостан,380049,Иркутская область,1.2.643.5.1.13.13.12.2.38.3568,"ОГБУЗ ""ИГП №15""",1,1,...,B01.047.001,192,1,1,1.0,0.00,NaN,NaN,NaN,0
3,2023,1,25000,Республика Башкортостан,380049,Иркутская область,1.2.643.5.1.13.13.12.2.38.3568,"ОГБУЗ ""ИГП №15""",2,2,...,B01.026.001.6,162,1,1,1.0,0.00,NaN,NaN,NaN,0
4,2023,1,25000,Республика Башкортостан,380049,Иркутская область,1.2.643.5.1.13.13.12.2.38.3568,"ОГБУЗ ""ИГП №15""",1,1,...,B01.047.002,203,3,1,3.0,0.00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517113,2023,2,25000,Республика Башкортостан,380038,Иркутская область,1.2.643.5.1.13.13.12.2.38.3528,"ОГАУЗ ""ИСП № 1""",4,4,...,B01.065.001,260,19,8,60.0,28.44,NaN,NaN,NaN,28.44
517114,2023,2,25000,Республика Башкортостан,380086,Иркутская область,1.2.643.5.1.13.13.12.2.38.9663,ФГБОУ ВО ИГМУ Минздрава России,4,4,...,B01.067.001,043,1,1,1.0,1.40,NaN,NaN,NaN,0
517115,2023,1,25000,Республика Башкортостан,380029,Иркутская область,1.2.643.5.1.13.13.12.2.38.3558,ОГАУЗ ИГКБ № 8,4,4,...,B01.065.001,599,2,2,2.0,3.63,NaN,NaN,NaN,0
517116,2023,2,25000,Республика Башкортостан,380021,Иркутская область,1.2.643.5.1.13.13.12.2.38.3547,"ОГАУЗ ""МЕДСАНЧАСТЬ ИАПО""",4,4,...,B01.064.003,505,4,4,6.0,4.58,NaN,NaN,NaN,0
517117,2023,2,25000,Республика Башкортостан,380139,Иркутская область,1.2.643.5.1.13.13.12.2.38.3595,"ОГБУЗ ""АНГАРСКАЯ ГОРОДСКАЯ ДЕТСКАЯ СТОМАТОЛОГИЧЕСКАЯ ПОЛИКЛИНИКА""",4,4,...,B01.064.004,380,6,6,10.0,9.16,NaN,NaN,NaN,9.16

In [30]:
# сохранение результатов на диск
df_data.to_csv('C:/Users/Admin/Documents/work/data/result.csv', encoding = 'utf-8-sig')

In [8]:
f_032 = pd.read_excel("C:/Users/Admin/Documents/work/data/F032.xlsx")
f_032

,UIDMO,IDMO,MCOD,OKTMO_P,SUBJ,D_BEGIN,D_END,NAME_E,DATEBEG,DATEEND
0,1202201101000000,3503000000007,10078,79000000000,Республика Адыгея,2021-08-19,NaT,NaN,2022-01-01,2022-10-11
1,1202201102000000,3503000000007,10078,79000000000,Республика Адыгея,2022-10-11,NaT,NaN,2022-10-12,2022-12-15
2,1202300100000000,29300000000000,10076,79000000000,Республика Адыгея,2022-06-03,NaT,NaN,2023-01-01,2023-12-31
3,1202300200000000,70800000000000,10079,79000000000,Республика Адыгея,2022-07-04,NaT,NaN,2023-01-01,2023-12-31
4,1202300300000000,1235000000000000,10049,79000000000,Республика Адыгея,2022-07-05,NaT,NaN,2023-02-15,2023-12-31
...,...,...,...,...,...,...,...,...,...,...
14512,99202337900000000,147300000000000,990186,0,Российская Федерация,2022-08-31,NaT,NaN,2023-01-01,2023-12-31
14513,99202338000000000,118700000000000,990170,0,Российская Федерация,2022-08-31,NaT,NaN,2023-01-01,2023-12-31
14514,99202338100000000,404500000000000,990340,0,Российская Федерация,2022-09-05,NaT,NaN,2023-01-01,2023-12-31
14515,99202338200000000,933700000000000,990113,0,Российская Федерация,2022-11-03,NaT,NaN,2023-01-01,2023-12-31
14516,99202338300000000,1023400000000000,990352,0,Российская Федерация,2022-11-03,NaT,NaN,2023-02-07,2023-12-31

In [ ]:
df_data['state'].apply(lambda x: x[len(x)/2-1:len(x)/2+1])

## 2. Без удаления дубликатов (НЕ СДЕЛАНО!!!)

In [3]:
%%time

# вспомогательная функция: определение количества посещений
def visit_count(row):
    '''функция определяет количество посещений согласно условиям'''
    if row['purpose'] < 3:
        return row['sl_id']
    elif row['purpose'] >= 3:
        res = row['code_usl'] * row['kol_usl']
        try:
            if np.isnan(res):
                return 0
        except:
            return res
    else:
        return 'не определено'

# расшифровка идентификаторов

# загрузка и очистка данных
df_data = pd.read_csv('C:/Users/Admin/Documents/work/data/25000-POS-D1.csv', sep=';', encoding = 'ISO-8859-1', low_memory=False)
df_data = df_data.apply(pd.to_numeric, errors='ignore')
df_data['purpose'] = df_data['purpose'].apply(pd.to_numeric, errors='coerce')
# сохранение дубликатов на диск
df_data_duplicates = df_data[df_data.duplicated()].reset_index()
df_data_duplicates.to_csv('C:/Users/Admin/Documents/work/data/25000-POS-D1_duplicates.csv')
# удаление дубликатов
# df_data = df_data.drop_duplicates().reset_index(drop=True)
# загрузка справочников
f_032 = pd.read_excel("C:/Users/Admin/Documents/work/data/F032.xlsx")
v_021 = pd.read_excel("C:/Users/Admin/Documents/work/data/V021.xlsx")
v_002 = pd.read_excel("C:/Users/Admin/Documents/work/data/V002.xlsx")
v_006 = pd.read_excel("C:/Users/Admin/Documents/work/data/V006.xlsx")
v_025 = pd.read_excel("C:/Users/Admin/Documents/work/data/V025.xlsx")
oid_data = pd.read_excel("C:/Users/Admin/Documents/work/data/oid_data.xlsx")
# расшифровка субъекта и МО
df_data = df_data.merge(f_032, left_on='region', right_on='MCOD', how='left').merge(f_032, left_on="clinic", right_on='MCOD', how='left').reset_index(drop=True)
# расшифровка медучреждения
df_data = df_data.merge(oid_data, left_on='oid', right_on='oid', how='left').merge(f_032, left_on="clinic", right_on='MCOD', how='left').reset_index(drop=True)
# расшифровка специальности врача
df_data = df_data.merge(v_021, left_on='doctor_specialty', right_on='IDSPEC', how='left')
# расшифровка профиля врача
df_data = df_data.merge(v_002, left_on='doctor_profile', right_on='IDPR', how='left')
# расшифровка условий оказания помощи
df_data = df_data.merge(v_006, left_on='terms', right_on='IDUMP', how='left')
# расшифровка цели посещения
df_data = df_data.merge(v_025, left_on='purpose', right_on='IDPC', how='left')
# фильтрация данных
df_data = df_data[['year', 'month', 'region', 'SUBJ_x', 'clinic', 'SUBJ_y', 'oid', 'nameShort', 'depart', 'branch',
       'doctor_specialty', 'SPECNAME', 'doctor_profile', 'PRNAME', 'terms', 'IDUMP', 'doctor_id', 'diagnosis',
       'purpose', 'N_PC', 'service_id', 'usl_service_id', 'usl_doctor_specialty',
       'usl_clinic', 'usl_depart', 'sl_id', 'code_usl', 'kol_usl', 'yet_sum']].copy().reset_index(drop=True)
# определение количества посещений
df_data['visit_count'] = df_data.apply(visit_count, axis=1)

KeyboardInterrupt:

In [4]:
df_data

,year,month,region,clinic,oid,depart,branch,doctor_specialty,doctor_profile,terms,...,D_END,NAME_E,DATEBEG_x,DATEEND_x,IDSPEC,SPECNAME,POSTNAME,IDPOST_MZ,DATEBEG_y,DATEEND_y
0,2023,1,25000,380049,1.2.643.5.1.13.13.12.2.38.3568,1,1,76,97,3,...,NaT,NaN,2023-01-01,2023-12-31,76,Терапия,NaN,NaN,2015-11-28,2019-10-31
1,2023,1,25000,380049,1.2.643.5.1.13.13.12.2.38.3568,1,1,76,97,3,...,NaT,NaN,2023-01-01,2023-12-31,76,Терапия,врач-терапевт,109.0,2019-11-01,NaT
2,2023,1,25000,380049,1.2.643.5.1.13.13.12.2.38.3568,1,1,76,97,3,...,NaT,NaN,2023-01-01,2023-12-31,76,Терапия,NaN,NaN,2015-11-28,2019-10-31
3,2023,1,25000,380049,1.2.643.5.1.13.13.12.2.38.3568,1,1,76,97,3,...,NaT,NaN,2023-01-01,2023-12-31,76,Терапия,врач-терапевт,109.0,2019-11-01,NaT
4,2023,1,25000,380049,1.2.643.5.1.13.13.12.2.38.3568,1,1,76,97,3,...,NaT,NaN,2023-01-01,2023-12-31,76,Терапия,NaN,NaN,2015-11-28,2019-10-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170581,2023,2,25000,380021,1.2.643.5.1.13.13.12.2.38.3547,4,4,71,86,3,...,NaT,NaN,2023-01-01,2023-12-31,71,Стоматология терапевтическая,врач-стоматолог-терапевт,103.0,2019-11-01,NaT
4170582,2023,2,25000,380059,1.2.643.5.1.13.13.12.2.38.3581,4,4,72,90,3,...,NaT,NaN,2023-01-01,2023-12-31,72,Стоматология хирургическая,NaN,NaN,2015-11-28,2019-10-31
4170583,2023,2,25000,380059,1.2.643.5.1.13.13.12.2.38.3581,4,4,72,90,3,...,NaT,NaN,2023-01-01,2023-12-31,72,Стоматология хирургическая,врач-стоматолог-хирург,104.0,2019-11-01,NaT
4170584,2023,2,25000,380139,1.2.643.5.1.13.13.12.2.38.3595,4,4,68,86,3,...,NaT,NaN,2023-03-11,2023-12-31,68,Стоматология детская,NaN,NaN,2015-11-28,2019-10-31
4170585,2023,2,25000,380139,1.2.643.5.1.13.13.12.2.38.3595,4,4,68,86,3,...,NaT,NaN,2023-03-11,2023-12-31,68,Стоматология детская,врач-стоматолог детский,101.0,2019-11-01,NaT

In [21]:
df_data = pd.read_csv('C:/Users/Admin/Documents/work/data/25000-POS-D1.csv', sep=';', encoding = 'ISO-8859-1', low_memory=False)

In [22]:
df_data.replace(['"'], [''], inplace=True)

In [27]:
df_data

,ï»¿year,month,region,clinic,oid,depart,branch,doctor_specialty,doctor_profile,terms,...,DATEBEG_x,DATEEND_x,IDUMP,UMPNAME,DATEBEG_y,DATEEND_y,IDPC,N_PC,DATEBEG,DATEEND
0,2022,9,61000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,3,...,2013-07-08,NaT,3,Амбулаторно,2012-10-18,NaN,3.0,Обращение по заболеванию,2018-01-01,NaN
1,2022,9,61000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,3,...,2013-07-08,NaT,3,Амбулаторно,2012-10-18,NaN,3.0,Обращение по заболеванию,2018-01-01,NaN
2,2022,9,61000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,3,...,2013-07-08,NaT,3,Амбулаторно,2012-10-18,NaN,3.0,Обращение по заболеванию,2018-01-01,NaN
3,2022,9,61000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,3,...,2013-07-08,NaT,3,Амбулаторно,2012-10-18,NaN,3.0,Обращение по заболеванию,2018-01-01,NaN
4,2022,10,61000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,3,...,2013-07-08,NaT,3,Амбулаторно,2012-10-18,NaN,3.0,Обращение по заболеванию,2018-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102103,2023,2,61000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,3,...,2011-01-01,NaT,3,Амбулаторно,2012-10-18,NaN,2.6,Посещение по другим обстоятельствам,2018-01-01,NaN
102104,2023,2,61000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,3,...,2011-01-01,NaT,3,Амбулаторно,2012-10-18,NaN,2.6,Посещение по другим обстоятельствам,2018-01-01,NaN
102105,2023,2,61000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,3,...,2011-01-01,NaT,3,Амбулаторно,2012-10-18,NaN,2.6,Посещение по другим обстоятельствам,2018-01-01,NaN
102106,2023,2,61000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,3,...,2011-01-01,NaT,3,Амбулаторно,2012-10-18,NaN,2.6,Посещение по другим обстоятельствам,2018-01-01,NaN
102107,2023,2,61000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,3,...,2011-01-01,NaT,3,Амбулаторно,2012-10-18,NaN,2.6,Посещение по другим обстоятельствам,2018-01-01,NaN

In [18]:
# нужно получить 1000000
lst = [1, 10, 100, 1000]
for element in lst:
    print(len(str(element)))
    print(7 - len(str(element)))
    print("0" * (7 - len(str(element))))
    print(str(element) + "0" * (7 - len(str(element))))

1
6
000000
1000000
2
5
00000
1000000
3
4
0000
1000000
4
3
000
1000000

In [36]:
def oktmo_test(row):
    """
    функция дополняет код ОКТМО до 11 символов или до 10 символов без ведущего 0
    """
    if len(str(row)) == 1:
        l = 9
    else:
        l = 11-len(str(row))
    return int(str(row) + "0"*(l))

In [38]:
oktmo_test(65000)

65000000000

In [33]:
df_data["test"] = df_data["region"].apply(oktmo_test)

In [34]:
df_data

,year,month,region,oktmo,clinic,oid,depart,branch,doctor_specialty,doctor_profile,...,service_id,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum,test
0,2022,9,1,10000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,B01.020.001,030-646-635 32,35,620077,073_2,1,1,1.0,0.0,10000000000
1,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,B01.023.001,030-646-635 32,35,620077,073_2,1,1,1.0,0.0,61000000000
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,B01.010.001,030-646-635 32,35,620077,073_2,1,1,1.0,0.0,61000000000
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,B01.020.005,030-646-635 32,35,620077,073_2,1,1,1.0,0.0,61000000000
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,B01.023.002,030-646-635 32,35,620077,073_2,1,1,1.0,0.0,61000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51116,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,81,106,...,A04.12.006.001,031-663-288 38,81,620105,291_2,4,4,4.0,0.0,61000000000
51117,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,81,106,...,A04.12.006.002,031-663-288 38,81,620105,291_2,26,26,26.0,0.0,61000000000
51118,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,A03.16.001,068-363-489 00,93,620105,291_2,9,9,9.0,0.0,61000000000
51119,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,A03.18.001.001,068-363-489 00,93,620105,291_2,11,11,11.0,0.0,61000000000
51120,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,A03.16.001,068-363-489 00,93,620105,291_2,1,1,1.0,0.0,61000000000